Psicologia/appPsicologia/appPsicologia/appPsicologia/Web References/wsInscripciones/wsInscripcion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_ListarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_DNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ListarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_ListarDatosResult" type="tns:ArrayOfEL_Inscripcion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEL_Inscripcion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EL_Inscripcion" nillable="true" type="tns:EL_Inscripcion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EL_Inscripcion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoInscripcion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DNI" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInscripcion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_ListarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ListarDatos" />
  </wsdl:message>
  <wsdl:message name="Get_ListarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ListarDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsInscripcionSoap">
    <wsdl:operation name="Get_ListarDatos">
      <wsdl:input message="tns:Get_ListarDatosSoapIn" />
      <wsdl:output message="tns:Get_ListarDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsInscripcionSoap" type="tns:wsInscripcionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_ListarDatos">
      <soap:operation soapAction="http://tempuri.org/Get_ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsInscripcionSoap12" type="tns:wsInscripcionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_ListarDatos">
      <soap12:operation soapAction="http://tempuri.org/Get_ListarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsInscripcion">
    <wsdl:port name="wsInscripcionSoap" binding="tns:wsInscripcionSoap">
      <soap:address location="http://localhost/ServicioInscripcion/wsInscripcion.asmx" />
    </wsdl:port>
    <wsdl:port name="wsInscripcionSoap12" binding="tns:wsInscripcionSoap12">
      <soap12:address location="http://localhost/ServicioInscripcion/wsInscripcion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>